{include file = "header.html"}


{foreach from=$BankSum item=banksum}
{assign var="sum_all_foreach" value=$sum_all_foreach+$banksum.in}
{assign var="sub_all_foreach" value=$sub_all_foreach+$banksum.out}
{/foreach}
{assign var="bankaccount" value=$sum_all_foreach-$sub_all_foreach}  

{foreach from=$CashSum item=cashsum}
{assign var="sum_all_foreach_cash" value=$sum_all_foreach_cash+$cashsum.in}
{assign var="sub_all_foreach_cash" value=$sub_all_foreach_cash+$cashsum.out}
{/foreach}
{assign var="cashaccount" value=$sum_all_foreach_cash-$sub_all_foreach_cash}

<!-- START Main-->
<div id="maindisplay" style="display: block;">

            <div class="row" style="text-align: center;">
          <div class="col-lg-4 col-xs-12">
<div class="panel panel-default"><div class="panel-body"> دائن </div> </div>
            <div class="bs-component">
              <div class="alert alert-dismissible alert-danger">
                <strong>----- </strong>
              </div>
            </div>
          </div>
       
          <div class="col-lg-4 col-xs-12">
          	<div class="panel panel-default"><div class="panel-body"> الحساب الجاري </div> </div>
            <div class="bs-component">
              <div class="alert alert-dismissible alert-success">
                <strong>{$bankaccount}</strong>
              </div>
               <div class="alert alert-dismissible alert-warning">
                <strong>{$cashaccount}</strong>
              </div>
            </div>
          </div>

         
          <div class="col-lg-4 col-xs-12">
          	<div class="panel panel-default"><div class="panel-body">  مدين </div> </div>
            <div class="bs-component">
              <div class="alert alert-dismissible alert-info">
                <strong>---- </strong>
              </div>
            </div>
          </div>
        </div>

</div>
<!-- End Main -->




{include file="bank.html"}
{include file="cash.html"}
{include file="loan.html"}







{include file = "footer.html"}