{include file = "header.html"}
<div id="loandisplay" style="display: none;">


	<div class="bs-component" style="margin-bottom: 15px;">
              <div class="btn-group btn-group-justified">
                <a href="loan.php?id={$smarty.get.id}&do=add" class="btn btn-default">اضافة</a>
                <a href="loan.php?id={$smarty.get.id}&do=sub" class="btn btn-default">خصم</a>
              </div>
            </div>


{if $smarty.get.do == "sub"}
<div class="col-md-4" ></div>

<div class="col-md-4" >
	
			<form action="loan.php" method="POST">
      <div class="form-group">
                  <label class="control-label" for="focusedInput">توضيح</label>
                  <input class="form-control" id="focusedInput" type="text" name="des">
                </div>
                <div class="form-group">
                  <label class="control-label">خصم من الدين</label>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" name="out">
                    <span class="input-group-btn">
                    	<input type="submit" class="btn btn-default" type="button" value="خصم">
                      <input type="hidden" name="bid" value="{$smarty.get.id}">
                    	<input type="hidden" name="go" value="loan">

                    </span>
                  </div>
                </div>
                </form>
</div>
<div class="col-md-4" ></div>

{/if}

{if $smarty.get.do == "add"}
<div class="col-md-4" ></div>
<div class="col-md-4" >
	<div class="form-group">
			<form action="loan.php" method="POST">
                  <label class="control-label" for="focusedInput">توضيح</label>
                  <input class="form-control" id="focusedInput" type="text" name="des">
                </div>
                <div class="form-group">
                  <label class="control-label">اضافة الدين</label>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" name="in" >
                    <span class="input-group-btn">
                    	<input type="submit" class="btn btn-default" type="button" value="اضف">
                      <input type="hidden" name="bid" value="{$smarty.get.id}">
                    	<input type="hidden" name="go" value="loan">

                    </span>
                  </div>
                </div>
                </form>
</div>
<div class="col-md-4" ></div>

{/if}



<table class="table table-striped table-hover " style="border:2px #fff solid;">
                <thead>
                  <tr>
                  <tr class="info"  style="border:2px #fff solid;">
                    <td>اضافة</td>
                    <td>خصم</td>
                    <td>توضيح</td>
                    <td>التاريخ</td>
                  </tr>

                </thead>
                <tbody >
{foreach from=$loanShow item=loan} 
				
                  {if $loan.in != 0 }<tr class="success" >{/if}
                  {if $loan.out != 0 }<tr class="danger">{/if}
                  {if $loan.des == 'سحب كاش' }<tr class="warning">{/if}
                    <td>{$loan.in}</td>
                    <td>{$loan.out}</td>
                    <td>{$loan.desc}</td>
                    <td>{$loan.date}</td>
                  </tr>
                  {/foreach} 


                </tbody>
              </table> 


</div>
{include file = "footer.html"}